<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="F:\HandleSolution\log.txt">
    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets>
        <target xsi:type="File" name="errorLog" fileName="F:/HandleSolution/${shortdate}.log" layout="----------------日志记录开始----------------${newline}【日志时间】：${longdate} ${newline}【日志级别】：${level:uppercase=true}${newline}【异常相关信息】${newline}${message}${newline}${newline}${newline}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Error" writeTo="errorLog" />
        <logger name="*" minlevel="Trace" writeTo="console"/>　
    </rules>
</nlog>